/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

h1 {
  font-size: 42px;
  text-align: center;
}

#wrapper{
  position: relative;
  width: 800px;
  margin: 0 auto;
}

#content{
  margin: 0px;
  padding: 0px;
}

#text{
  position: relative;
  width: 800px;
  text-align: center;
  margin: 0px;
}

#footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
