<!DOCTYPE html>
<html>
<head>
  <title>Partidados</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="opened_eyes_free/openedeyes/js/openedeyes.js" id="openedeyes" type="text/javascript">
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
